img{
    max-width: 100%;
}
p, h2, h3{
    color: white ; 
}
*{
    box-sizing: border-box;
}
.container{
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto;
}


.row{
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto;
}
body{
    margin-top: 0px;

}

.menu, .menup{
    width: 33%;
    
    text-align: center;
}
.menup2{
    width: 35%;
    
    text-align: right;

}
.menu3{
    text-align: right;
}
.menu3{
    text-align: left;
    
    width: 33%;

}
.logo{
    width: 20%;
}

header{
    border-bottom: 2px solid white;
    width: 100%;
}
main{
    background-image: url(img/b1.jpg);
    text-align: center;
}
.centraldiv{
    background: rgba(0, 0, 0, 0.904);
    width: 50%;
    text-align: center;
    margin-left: 25%;
    padding: 7%;
    margin-top: 15%;
    margin-bottom: 15%;
}
.centraldivbut{
    background: white;
    color: black;
    padding: 10px 20px 10px 20px;
    font-size: 17px;
    border: none;
    cursor:pointer
}
.h22{
    text-align: center;
    color: white;
    padding-bottom: 10px;
    padding-top: 20px;
}
.downproducts{
    border-top: 2px solid black;
    background: white;
    padding: 5px;

}
.downpr1p1{
    color: black ;
    font-size: 17px;
    margin-bottom: 0px;

}
.downpr1p2{
    color: black ;
    text-align: right;
    font-size: 17px;

}
.products{
    margin-top: 20px;
    margin-right: 1%;
    width: 24%;
    border: 2px solid white;
    display: block;
    cursor: pointer;
}
.flexovich{
    display: flex;

    flex-wrap: wrap;

}
span{
    color: white;
}
.g{
    display: flex;
    padding-top: 30px;

}
.menuspans{
    width: 33%;

}
a{
    text-decoration: none;
    color: white;
   
}
.rightpriem{
    width: 49%;
    
}
.rightpriem{
    max-width: 50%;
}
.leftpriem{
    width: 50%;
    position: relative;
}
.priem{
    margin-top: 100px;
    
}
.priemus{
    border: 2px solid white;
    padding: 50px;

}
.centraldiv2but{
    background: white;
    position: absolute;
    bottom: 0;
  
}
.ppriem{
    font-size: 19px;
}
.otzivtext{
    font-size: 20px;
    margin-top: 15px;
    letter-spacing: 0.1em;
    line-height: 1.5;
}

.otziv{
    text-align: center;
    width: 32%;
    padding: 15px;
    border: 2px solid white;
    margin-left: 1%;
    margin-top: 10px;
}
.popular{
    margin-top: 80px;

}

.otzivlogo{
    width: 40%;
}
.otzvs{
    margin-top: 80px;
}
.foot{
    border-top: 2px solid white;
    display: flex;
    padding-top: 30px;
    padding-bottom: 100px;
}
footer{
    margin-top: 80px;
    

}
.rightfoot{
    width: 50%;
    display: flex;

}
.leftfoot{
    width: 50%;

}
.pfoot{
    font-size: 19px;
    display: block;
    padding: 10px;

}
.footlogo{
    width: 25%;
}
.secpfoot{
    width: 33%;
}
.ps{
    line-height: 51.5px;
}

.pfootlogo{
    font-size: 19px;
    display: block;

}
.dann{
    display: block;
    padding: 10px;
  font-size: 18px;
}
header{
    position: fixed;
    z-index: 1000;
    background: black;
}
@media(min-width:768px){
    .row{
        width:750px;
    }
}
@media(min-width:992px){
    .row{
        width:970px;
    }
}
@media(min-width:1200px){
    .row{
        width:1170px;
    }
}
